# Virtual environments
env312/
.venv/
venv/

# Environment Variables
.env

# Practice folder
practice/

# Notes
notes/

# Python cache
__pycache__/
*.pyc

# Jupyter
.ipynb_checkpoints/

# Temporary files
*.tmp
~$*.docx